.list {
    display: flex;
    flex-wrap: wrap;
}

.item {
    width: 300px;
    border:2px dashed black;
}

body {
    background-image: linear-gradient(red, blue, purple);
    background-color: darkgrey;
}
